@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-12">
        
        <section id="introText">
            <div class="container">
                <div>
                    <h1>I build enterprise software and mentor/coach high performance development teams</h1>
                    <h5>I am Senior Software Professional with over twenty years of extensive experience in all aspects of the software development life-cycle.</h5>
                </div>
            </div>
        </section>



    </div>
</div>

<div class="row">
    <div class="col-12">
        <section id="aboutUs" class="mt-5">
            <div class="container">
                <div class="row">
                    <!-- item -->
                    <div class="col-md-4"> <img src="/img/profile_pic.jpg" class="rounded-circle img-thumbnail" alt="profile picture of Rick Flagg"/> </div>
                    <div class="col-md-8">
                        <div id="aboutHeader">
                            <h2>Hello, I am Rick Flagg...</h2>
                            <h3> Software Professional and Scrum Master Based in Washington D.C, US.</h3>
                        </div>
                        <p>I am Software Professional/Certified Scrum Master with over twenty years of extensive experience in all aspects of the software development life-cycle. My primary area of expertise is in building secure, well tested, data driven enterprise applications using .NET, Javascript, Java, and Python technologies.<br/>
                            <br/>
                            I have extensive experience in the following areas:
                        </p>
                        <div class="list">
                            <ul>
                                <li>Project Management</li>
                                <li>Software Quality</li>
                                <li>Release Management</li>
                                <li>Process Improvement</li>
                                <li>Revision Control</li>
                                <li>Agile Development</li>
                                <li>Build Management</li>
                                <li>CI/CD Pipelines</li>
                            </ul>
                        </div>
                    </div>
                    <!-- end: -->
                </div>
            </div>
        </section>

    </div>
</div>


<div class="row">
    <div class="col-12">
        <section id="quote" >
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12"><h2>"Alone we can do so little, together we can do so much."<span> --Helen Keller</span></h2></div>
                    </div>
                </div>
                <!--/.container-->
            </div>
        </section>
    </div>
</div>



@section Scripts {
    <script>
        (function() {
            var resolver = new MenuResolver();
            resolver.resolve(TargetPage.About);
        })();

    </script>
}