@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-12">
        <section id="clientsSection">

            <div class="row">
                <div class="col-12">
                    <!-- Heading -->
                    <h2>Past and Present Clients</h2>
                    <br/>
                    <h4>20+ Years Experience in government and commercial software development!</h4>
                    <p>I have worked over twenty years as a private contractor developing products for a variety of Commercial and Federal Agencies.</p>
                </div>
            </div>

            <div class="row">

                <div class="col-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/department_of_commerce_gs.png" class="img-fluid rounded-start" alt="logo of doc">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Department of Commerce</h5>
                                    <p class="card-text">The U.S. Department of Commerce promotes job creation, economic growth, sustainable development and improved standards of living for all Americans by working in partnership with businesses, universities, communities and our nations workers.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/cdc.png" class="img-fluid rounded-start" alt="logo of cdc">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Center for Disease Control</h5>
                                    <p class="card-text">CDC works 24/7 to protect America from health, safety and security threats, both foreign and in the U.S.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/department_of_defense_gs.png" class="img-fluid rounded-start" alt="dod logo">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Department of Defense</h5>
                                    <p class="card-text">The mission of the Department of Defense is to provide the military forces needed to deter war and to protect the security of our country.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/ssa.png" class="img-fluid rounded-start" alt="ssa logo">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Social Security Administration</h5>
                                    <p class="card-text">Deliver Social Security services that meet the changing needs of the public.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/nahb.png" class="img-fluid rounded-start" alt="nahb logo">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">National Association of Home Builders</h5>
                                    <p class="card-text">NAHB is a trade association that helps promote the policies that make housing a national priority.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/department_of_education_gs.png" class="img-fluid rounded-start" alt="doe logo">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Department of Education</h5>
                                    <p class="card-text">ED's mission is to promote student achievement and preparation for global competitiveness by fostering educational excellence and ensuring equal access.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/department_of_state_gs.png" class="img-fluid rounded-start" alt="dos logo">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Department of State</h5>
                                    <p class="card-text">The U.S. Department of State leads America’s foreign policy through diplomacy, advocacy, and assistance by advancing the interests of the American people, their safety and economic prosperity.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                
                
                <div class="col-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/img/hud.png" class="img-fluid rounded-start" alt="hud logo">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Department of Housing and Urban Development</h5>
                                    <p class="card-text">The Department of Housing and Urban Development is involved in the development of single-family, multifamily and public housing communities.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section>
    </div>
</div>

@section Scripts {
    <script>
        (function() {
            var resolver = new MenuResolver();
            resolver.resolve(TargetPage.Clients);
        })();

    </script>
}