@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!-- Home Section Begin-->
<div class="row">
    <section id="landingPage">
        <div id="whoAmIHeader" class="row">
            <div id="whoAmIDetail" class="col-4 offset-4 justify-content-center align-items-center">
                <div class="row"><h1>Rick Flagg</h1></div>
                <div class="row"><h3>Senior Software Professional</h3></div>
            </div>

        </div>
    </section>
</div>

@section Scripts {
    <script>
        (function() {
            var resolver = new MenuResolver();
            resolver.resolve(TargetPage.Home);
        })();

    </script>
}