@using System.Data
@model ProjectUploadViewModel

<form asp-controller="Manage" asp-action="Projects" method="post" enctype="multipart/form-data">

<div class="row">
    
    <div class="col-6 offset-3 mt-3">
        
        <h3>Upload Project File (.xlxs)</h3>
        <label for="ProjectUpload">Select File</label>
        <input type="file" id="ProjectUpload" asp-for="ProjectUpload"  accept="application/application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    </div>
    <div class="col-6 offset-3 mt-3">
        <input class="btn btn-primary ms-lg-auto" type="submit"/>
    </div>
</div>


<div class="row mt-3">
    <div class="col-6 offset-3">
    
        <table class="table table-striped">
        
            @if (!Model.HasProjects)
            {
                <caption>No projects uploaded</caption>
            }
            else
            {

                <thead>
                <tr>
                    <th>Project Name</th>
                    <th>Client</th>
                    <th><a href="#">Select All</a></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var row in Model.ExistingProjects)
                {
                    <tr>
                        <td>@row.Name</td>
                        <td>@row.Client</td>
                        <td><input type="checkbox" id="@row.DeleteId" data-delete-id="@row.Id" /></td>
                    </tr>
                }
                </tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th></th>
                    <th><a href="#">Delete</a></th>
                </tr>
                </tfoot>
            }

        </table>
        
    </div>

</div>

</form>