@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

* {
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

#landingPage {
    background-image: url("../images/banner-bg.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
}

#whoAmIHeader {
    margin-top: 10%;
    height: 60%;
    min-height: 60%;
    color: white;
}

#whoAmIHeader H1 {
    display: block;
    font-size: 5em;
}

#whoAmIHeader H3 {
    display: block;
    font-size: 3em;
}

#introText {
    /* background: black;*/
    color: black;
}

#quote {
    /*background: black;*/ 
    color: black;
}


#aboutUs {
    height: 60vh;
    min-height: 50vh;
}

#aboutHeader #introText H1 {
    font-size: 5em;
}

#aboutHeader H3 {
    font-size: 3em;
}
