<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rick Flagg</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand" href="#">Rick Flagg</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" nav-name="index"  asp-action="Index">Home</a>
                <a class="nav-link" nav-name="about" asp-action="About">About Me</a>
                <a class="nav-link" nav-name="skills" asp-action="Skills">Skills</a>
                <a class="nav-link" nav-name="clients" asp-action="Clients">Clients</a>
                <a class="nav-link" nav-name="projects" asp-action="Projects" >Projects</a>
                <a class="nav-link" nav-name="contact" asp-action="Contact" >Contact Me</a>
            </div>
        </div>
        </div>
    </nav>

    <div class="container-fluid" >
        <main>
            @RenderBody()
        </main>
    </div>

    <footer class="footer mt-auto bg-black fixed-bottom">
        <div class="container clearfix">
            <span class="text-muted float-end">Copyright @Html.Raw(DateTime.Now.Year.ToString()) | All Rights Reserved</span>
        </div>
    </footer>

    <script src="/lib/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/js/menuResolver.js"></script>

@await RenderSectionAsync("Scripts", false)

</body>
</html>