
<div class="row mt-5">
    <div class="col-12 mt-5">
        <h5>Want to connect? Please add your email and a brief message, and I'll reach out as soon as I can.</h5>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">

        <form id="frmContact" method="post" action="/contact">
        <div class="mb-3">
            <label for="txtContactEmail" class="form-label">Email address:</label>
            <input name="txtContactEmail" required type="email" class="form-control" id="txtContactEmail" placeholder="name@example.com">
        </div>
        <div class="mb-3">
            <label for="txtReason" class="form-label">Reason:</label>
            <textarea name="txtReason" required class="form-control" id="txtReason" rows="3" ></textarea>
        </div>

        <div>
            <input type="checkbox" hidden="hidden" name="chkNonce" id="chkNonce">
        </div>
        <div>
             <input id="btnSubmitContact" type="submit" class="btn btn-primary" value="Contact me">
        </div>

        </form>
    </div>
</div>



